body{
    border: 0;
}

.banner {  
    background-image: url(https://media.istockphoto.com/photos/chicken-bacon-club-sandwich-picture-id585602032?b=1&k=20&m=585602032&s=170667a&w=0&h=j5JuVHNswlk41flHWrj0JbDMgyjrBqgr_GmnSceDiPU=);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
}

.banner .ban-cont{
    color: aliceblue;
    text-align: center;
    position: absolute;
    top: 180px; 
    left: 450px;
}

.banner .ban-cont h2 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-size: larger;
    margin-bottom: -15px;
    font-style: italic;

}
 .banner .ban-cont p{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-style: italic;
}
.banner .ban-cont button{
    color: white;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;